@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}
.main {
    background-color: #1F2937;
    padding: 1em 12em;
}
.header p {
    color: White;
    font-family: 'Roboto';
    font-size: 1.5em;
    font-weight: bolder;
}

.header__links {
    display: flex;
    gap: 18px;
}
.header__links li{
    list-style-type: none;
}

.header__links a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 20px;
    font-family: 'Roboto';
}

.header__links a:hover
{
    border-bottom: 2px solid white;
}

.head_text{
    font-size: 3em;
    color: #F9FAF8;
    font-weight: bolder;
    width: 10em;
}

.content__one div {
    font-family: 'Roboto';
}

.text, .image {
    font-family: 'Roboto';
    color: #E5E7EB;
    font-size: 22px;
}

.content_one {
    display: flex;
    margin-top: 6em;
    margin-bottom: 6em;
    gap: 25px;

}
.content__one p{
    display: flex;
    flex-wrap: wrap;
}
.image {
    background-color: #666;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15em;
    flex: 1;
}

.button {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 900;
    background-color: #3882F6;
    color: white;
    padding: 7px 40px;
    border-radius: 8px;
    margin-top: 8px;
}

.text {
    width: 25em;
    margin-bottom: 10px;
}

.header_two {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 1.5em 0px;
}

.illustration {
    display: flex;
    justify-content: center;
    gap: 4em;
}

.img {
    height: 200px;
    width: 200px;
    display: flex;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.txt
{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto";
    color: #666;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.content_two {
    margin-bottom: 8em;
}

.cnt {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote {
    width: 23em;
    font-size: 30px;
    font-family:'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 100;
    color:#1F2937;
}

.quote_author {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: 800;
    font-family:'Arial Narrow', Arial, sans-serif;
}

.container{
    padding: 5em 0px;
}

.container_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 0px;
}
.cnt_3 {
    background-color: #3882F6;
    display: flex;
    padding: 3em 8em;
    border-radius: 10px;
    align-items: center;
    gap: 10em;
}

.contact_1 {
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.contact_2 {
    color: white;
    font-size: 22px;
}

.sign_up{
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 4px 45px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 100px;
    align-items: center;
}

